::-webkit-scrollbar {
  display: none;
}

:root {
  --Light-Lavender: #e6e6fa;
  /* bg */
  --sub-color-bg: #c0c0c0;
  --Charcoal: #333333;
  /* text */
  --midnight-blue-bg: #1a1e45;
  --dark-blueish-gray-bg: #0f1524;
  --royal-blue-bg: #455fb1;
  --alice-blue-font: #f0f8ff;
  --snow-white-font: #fffafa;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--Light-Lavender);
  box-sizing: border-box;
  color: var(--Charcoal);
}

/*  Style for nav bar  */

.spotify-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 62px;
  position: sticky;
  top: 0;
  z-index: 100;
  /* background color because it match with main and nav so it will not work as sticky */
  background-color: var(--Light-Lavender);
}

.left-container-In-nav,
.right-container-In-nav {
  display: flex;
  align-items: center;
}

/* css for left container in nav bar */

.product-name p {
  margin: 0 18px;
}

.favourite-songs {
  margin-left: 24px;
}

.favourite-songs a {
  text-decoration: none;
  /* color: var(--alice-blue-font); */
  color: black;
}

#color-light {
  /* color: var(--alice-blue-font); */
  font-size: large;
}

#color-dark {
  /* color: var(--snow-white-font); */
  font-size: large;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#logo {
  width: 70px;
  height: auto;
}

/* css for right container in nav bar */

.search-songs {
  margin: 0px 24px;
}

.notification {
  margin-right: 24px;
}

.user-icon img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

/* begining from here  */

.playlist-section {
  display: inline-block;
  width: 70%;
  box-sizing: border-box;
  padding: 24px 64px;
}

.header {
  width: 100%;
  /* height: 300px; */
  display: flex;
  box-shadow: 1px 0px 13px 8px #cfcece;
  background-color: #fdfdfd;
  /* margin-bottom: 32px; */
  color: #333333;
}

.header-img {
  width: 40%;
  background: url(img/play-all.jpg) center;
  background-size: 450px;
  box-shadow: inset -9px -4px 17px -11px #3f3e3e;
}

.header-content {
  width: 60%;
  box-sizing: border-box;
  padding: 14px;
}

.align-right {
  position: relative;
  top: -45px;
  text-align: right;
}

.sub-heading {
  position: relative;
  top: -40px;
}

.align-center {
  position: relative;
  top: -14px;
}

.follow {
  display: inline-block;
}

.playall,
.follow {
  width: 90px;
  height: 30px;
  margin: 0px 6px 6px 0px;
  color: black;
}

.playall {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    144deg,
    rgb(42, 35, 189) 0%,
    rgba(201, 70, 176, 1) 51%,
    rgba(255, 0, 168, 1) 100%
  );
  border: none;
  color: white;
  font-weight: bold;
}

.upper-header-content h1 {
  color: #0f1524;
}

/*  */

.playlist-music-container {
  width: 100%;
  margin: 12px 0px;
  height: 60px;
}

.new-content {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #cad1d1;
}

.new-content:hover {
  background-color: white;
  box-shadow: 1px 0px 19px 7px #706b6b;
  cursor: pointer;
}

.new-content:active {
  opacity: 0.5;
  background-color: gray;
}

/* Aside */

.spotify-aside-playlist {
  display: inline-block;
  width: 30%;
  height: 100%;
  position: fixed;
  overflow: scroll;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading p {
  position: relative;
  right: 34px;
}

#queuelist {
  display: none;
}

/* #queuelist[type="checkbox"]:checked ~ i{
  color: red;
} */

.heading select {
  background-color: transparent;
  border: none;
}

.song-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.song-container:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

.song-container:active {
  opacity: 0.5;
}

.song-container img {
  width: 50px;
  padding: 4px;
  box-sizing: border-box;
}

span p {
  margin: 0px 10px;
}

.title {
  width: 50%;
  margin: 0px 30px 0px 15px;
}

.title h4,
p {
  margin: 0;
}

.title p {
  font-size: 0.75rem;
}

/*  */

.latest-release-section {
  box-sizing: border-box;
  padding: 0px 18px;
}

.section-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}

.latest-release-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.latest-release {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  overflow: hidden;
}

.latest-release img {
  width: 80px;
  height: 80px;
}

.button {
  display: flex;
  box-sizing: border-box;
  padding-right: 8px;
  position: relative;
  top: -35px;
  left: -10px;
}

.button div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  margin: 2px;
}

.after::after {
  content: "04:44";
  position: relative;
  top: 12px;
  right: 20px;
  font-size: smaller;
}

.recently-played {
  box-sizing: border-box;
  padding: 0px 18px;
  margin-bottom: 100px;
}
